# Build folders
[Bb]in/
[Oo]bj/
[Tt]mp/

# IDE files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/
*.userprefs
*.csproj.user

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini

# User specific files
*.rsuser

# Ignore local frontend source code directory (since it is maintained locally and not in the repo)
frontend/

# Publish folder
publish/
